  <header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img class="img-fluid" src="/assets/img/dog.svg" alt="Archivo Afro"> -->
        <h1 class="sitename">Archivo Afro</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
            
        <li><i id="search-icon" class="bi bi-search"></i></li>

          {% if page.lang == 'en' %}
        <a href="/en">english</a> | <a href="/./#">español</a>
         
          {% else %}
        <a href="/./#">español</a> | <a href="/en">english</a>
         {% endif %}
         
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

      </nav>

    </div>

  </header>